<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/items"></ion-back-button>
    </ion-buttons>
    <ion-title>Adicionar item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nome do item</ion-label>
        <ion-input name="name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Preço</ion-label>
        <ion-input name="name" type="number"></ion-input>
      </ion-item>
      <ion-item-divider>
        <ion-label>Pessoas participantes</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label position="floating">Filtrar</ion-label>
        <ion-input name="filter" type="number"></ion-input>
      </ion-item>
      <ion-checkbox ng-hide="search.name" class="checkbox-balanced" ng-change="checkAll()" ng-model="newItem.all">Todos
      </ion-checkbox>
      <ion-checkbox class="checkbox-balanced" ng-hide="filter(person.name)" ng-repeat="person in people"
        ng-model="newItem.people[person.id]">{{person.name}}</ion-checkbox>


      <button ng-click="submit()" class="button button-clear"><i class="icon ion-checkmark-round"></i></button>
    </ion-list>
  </ion-grid>
</ion-content>