<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Itens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid fixed>
    <ion-list>
      <ion-item button (click)="showSheet(item)" *ngFor="let item of items$ | async">
        <ion-label>
          <h2>
            {{item.name}}
          </h2>
          <p>{{item.value | currency:'BRL'}} / {{item.people.length}} pessoas =
            {{item.value / item.people.length | currency:'BRL'}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>