<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="people">
        <ion-icon name="people"></ion-icon>
        <ion-label>Pessoas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="items">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Itens</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="report">
        <ion-icon name="calculator"></ion-icon>
        <ion-label>Relatório</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>