<ng-container>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Informações do Item </ion-card-title>
    </ion-card-header>
    <form #itemForm="ngForm">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nome do item</ion-label>
          <ion-input #name="ngModel" [(ngModel)]="item.name" name="name" required></ion-input>
        </ion-item>
        <app-form-error [model]="name"></app-form-error>
        <ion-item>
          <ion-label position="floating">Preço</ion-label>
          <ion-input #price="ngModel" [(ngModel)]="item.value" name="price" type="number" required></ion-input>
        </ion-item>
        <app-form-error [model]="price"></app-form-error>
      </ion-list>
    </form>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Pessoas participantes</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-icon slot="start" name="search"></ion-icon>
      <ion-input name="filter" placeholder="Filtrar" (ionChange)="searchChanged($event.detail.value)"></ion-input>
    </ion-item>

    <ion-list>
      <ion-item color="light" *ngIf="isSearchEmpty$ | async">
        <ion-checkbox slot="start" (ionChange)="checkAll($event.detail.checked)">
        </ion-checkbox>
        <ion-label>Todos</ion-label>
      </ion-item>

      <ion-item *ngFor="let person of people$ | async">
        <ion-checkbox slot="start" [checked]="selectedPeople.has(person.id)"
          (ionChange)="toggle($event.detail.checked, person.id)">
        </ion-checkbox>
        <ion-label>{{ person.name }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-button [disabled]="itemForm.invalid || selectedPeople.size == 0" (click)="submit()" class="ion-margin-horizontal"
    expand="block">
    <ion-icon slot="start" name="checkmark"></ion-icon>
    Salvar mudanças
  </ion-button>
</ng-container>